Repository wanted-preonboarding-backend-teamV/Restaurant-Recommendation, pull requests merged in 2023-11, with the labels that each got.

#10 feat #6 - 맛집 목록, 맛집 상세조회 API 구현
  build.gradle
  src/main/java/com/wanted/teamV/config/QuerydslConfig.java
  src/main/java/com/wanted/teamV/controller/RestaurantController.java
  src/main/java/com/wanted/teamV/dto/Coordinate.java
  src/main/java/com/wanted/teamV/dto/res/RatingResDto.java
  src/main/java/com/wanted/teamV/dto/res/RestaurantDetailResDto.java
  src/main/java/com/wanted/teamV/dto/res/RestaurantResDto.java
  src/main/java/com/wanted/teamV/entity/Rating.java
  src/main/java/com/wanted/teamV/exception/ErrorCode.java
  src/main/java/com/wanted/teamV/repository/RestaurantQRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantRepository.java
  src/main/java/com/wanted/teamV/repository/impl/RestaurantQRepositoryImpl.java
  src/main/java/com/wanted/teamV/service/RestaurantService.java
  src/main/java/com/wanted/teamV/service/impl/DistanceCalculator.java
  src/main/java/com/wanted/teamV/service/impl/RestaurantServiceImpl.java
  src/main/java/com/wanted/teamV/type/RestaurantOrdering.java
  src/main/java/com/wanted/teamV/type/RestaurantType.java
Labels: feature, test

#7 feat#3 - 사용자 API 구현
  build.gradle
  src/main/java/com/wanted/teamV/config/SecurityConfig.java
  src/main/java/com/wanted/teamV/config/WebConfig.java
  src/main/java/com/wanted/teamV/controller/AuthenticationPrincipal.java
  src/main/java/com/wanted/teamV/controller/AuthenticationPrincipalArgumentResolver.java
  src/main/java/com/wanted/teamV/controller/AuthorizationExtractor.java
  src/main/java/com/wanted/teamV/controller/MemberController.java
  src/main/java/com/wanted/teamV/dto/LoginMember.java
  src/main/java/com/wanted/teamV/dto/req/MemberJoinReqDto.java
  src/main/java/com/wanted/teamV/dto/req/MemberLoginReqDto.java
  src/main/java/com/wanted/teamV/dto/req/MemberUpdateReqDto.java
  src/main/java/com/wanted/teamV/dto/res/MemberInfoResDto.java
  src/main/java/com/wanted/teamV/dto/res/MemberTokenResDto.java
  src/main/java/com/wanted/teamV/entity/Member.java
  src/main/java/com/wanted/teamV/exception/ErrorCode.java
  src/main/java/com/wanted/teamV/repository/MemberRepository.java
  src/main/java/com/wanted/teamV/service/MemberService.java
  src/main/java/com/wanted/teamV/service/impl/AuthTokenCreator.java
  src/main/java/com/wanted/teamV/service/impl/JwtTokenProvider.java
  src/main/java/com/wanted/teamV/service/impl/MemberServiceImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/wanted/teamV/controller/MemberControllerTest.java
  src/test/java/com/wanted/teamV/service/MemberServiceImplTest.java
Labels: feature, test

#15 Feat/#2 - 데이터 파이프라인 구현
  .github/workflows/ci.yml
  build.gradle
  src/main/java/com/wanted/teamV/TeamVApplication.java
  src/main/java/com/wanted/teamV/config/OpenApiConfig.java
  src/main/java/com/wanted/teamV/config/RestaurantsDataInit.java
  src/main/java/com/wanted/teamV/entity/Restaurant.java
  src/main/java/com/wanted/teamV/openapi/OpenApi.java
  src/main/java/com/wanted/teamV/openapi/OpenApiRestaurantType.java
  src/main/java/com/wanted/teamV/openapi/OpenApiService.java
  src/main/java/com/wanted/teamV/openapi/RestaurantCollectionService.java
  src/main/java/com/wanted/teamV/openapi/converter/OpenApiRawConverter.java
  src/main/java/com/wanted/teamV/openapi/converter/OpenApiRawHead.java
  src/main/java/com/wanted/teamV/openapi/converter/OpenApiRawRestaurant.java
  src/main/java/com/wanted/teamV/repository/RatingRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantJdbcRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantRepository.java
  src/main/java/com/wanted/teamV/repository/impl/RestaurantJdbcRepositoryImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/wanted/teamV/openapi/RestaurantCollectionServiceTest.java
Labels: feature

#16 feat #1 - 맛집 평가 생성 기능 구현
  src/main/java/com/wanted/teamV/controller/RatingController.java
  src/main/java/com/wanted/teamV/dto/req/RatingCreateReqDto.java
  src/main/java/com/wanted/teamV/exception/ErrorCode.java
  src/main/java/com/wanted/teamV/repository/RatingRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantRepository.java
  src/main/java/com/wanted/teamV/service/RatingService.java
  src/main/java/com/wanted/teamV/service/impl/RatingServiceImpl.java
  src/test/java/com/wanted/teamV/controller/RatingControllerTest.java
  src/test/java/com/wanted/teamV/repository/RatingRepositoryTest.java
  src/test/java/com/wanted/teamV/repository/RestaurantRepositoryTest.java
  src/test/java/com/wanted/teamV/service/impl/RatingServiceImplTest.java
Labels: feature, test

#17 fix: 컬럼명 수정
  src/main/generated/com/wanted/teamV/entity/QMember.java
  src/main/generated/com/wanted/teamV/entity/QRating.java
  src/main/generated/com/wanted/teamV/entity/QRestaurant.java
  src/main/java/com/wanted/teamV/dto/res/RestaurantDetailResDto.java
  src/main/java/com/wanted/teamV/entity/Restaurant.java
  src/main/java/com/wanted/teamV/openapi/OpenApiService.java
  src/main/java/com/wanted/teamV/repository/impl/RestaurantJdbcRepositoryImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
Labels: test

#20 fix #2 - Raw 데이터 필드 설정 수정
  src/main/java/com/wanted/teamV/openapi/converter/OpenApiRawRestaurant.java
Labels: bug

#19 feat #11 - 점심 추천 로직 구현
  .github/workflows/ci.yml
  build.gradle
  src/main/java/com/wanted/teamV/component/RecommendationScheduler.java
  src/main/java/com/wanted/teamV/config/RestTemplateConfig.java
  src/main/java/com/wanted/teamV/dto/req/DiscordWebhookReqDto.java
  src/main/java/com/wanted/teamV/repository/MemberRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantQRepository.java
  src/main/java/com/wanted/teamV/repository/RestaurantRepository.java
  src/main/java/com/wanted/teamV/repository/impl/RestaurantQRepositoryImpl.java
  src/main/java/com/wanted/teamV/service/DiscordWebhookService.java
  src/main/java/com/wanted/teamV/service/impl/DiscordWebhookServiceImpl.java
  src/main/java/com/wanted/teamV/service/impl/RestaurantServiceImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/wanted/teamV/repository/RatingRepositoryTest.java
  src/test/java/com/wanted/teamV/repository/RestaurantRepositoryTest.java
  src/test/java/com/wanted/teamV/service/RatingServiceImplTest.java
Labels: feature

#24 test #1 - 맛집 평가 등록 테스트코드 수정
  src/main/java/com/wanted/teamV/dto/req/RatingCreateReqDto.java
  src/test/java/com/wanted/teamV/controller/RatingControllerTest.java
Labels: test

#25 test #22 - 점심 추천 기능 테스트
  .github/workflows/ci.yml
  src/main/java/com/wanted/teamV/component/RecommendationScheduler.java
  src/main/java/com/wanted/teamV/entity/Member.java
  src/main/java/com/wanted/teamV/repository/impl/RestaurantQRepositoryImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/wanted/teamV/component/RecommendationSchedulerTest.java
  src/test/java/com/wanted/teamV/repository/MemberRepositoryTest.java
  src/test/java/com/wanted/teamV/repository/RestaurantQRepositoryImplTest.java
  src/test/java/com/wanted/teamV/service/DiscordWebhookServiceImplTest.java
Labels: test

#31 feat #11 - 하버사인 공식 이용 거리 구하는 메서드 수정
  src/main/java/com/wanted/teamV/repository/impl/RestaurantQRepositoryImpl.java
Labels: feature

#30 Test/#21 - 데이터 파이프라인 테스트 작성
  src/main/java/com/wanted/teamV/openapi/converter/OpenApiRawRestaurant.java
  src/test/java/com/wanted/teamV/openapi/OpenApiServiceTest.java
  src/test/java/com/wanted/teamV/openapi/RestaurantCollectionScheduleTest.java
  src/test/java/com/wanted/teamV/openapi/RestaurantCollectionServiceTest.java
  src/test/java/com/wanted/teamV/openapi/converter/OpenApiRawConverterTest.java
  src/test/resources/json/failure.json
  src/test/resources/json/success.json
Labels: test

#33 chore #21 - jackson databind 의존성 버전 변경
  build.gradle
  src/test/java/com/wanted/teamV/openapi/OpenApiServiceTest.java
Labels: test

#37 fix #3 - 사용자 설정 업데이트 API 수정
  src/main/java/com/wanted/teamV/repository/MemberRepository.java
Labels: bug

#38 feat #14 - 맛집 상세 조회 고도화
  build.gradle
  src/main/java/com/wanted/teamV/config/EmbeddedRedisConfig.java
  src/main/java/com/wanted/teamV/config/RedisConfig.java
  src/main/java/com/wanted/teamV/dto/res/RestaurantDetailResDto.java
  src/main/java/com/wanted/teamV/dto/res/RestaurantDistrictResDto.java
  src/main/java/com/wanted/teamV/repository/RestaurantRepository.java
  src/main/java/com/wanted/teamV/service/impl/RestaurantServiceImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/resources/application.yml
Labels: feature

#39 feat #1 - Restaurant 평균 평점 업데이트 방식 수정
  src/main/java/com/wanted/teamV/TeamVApplication.java
  src/main/java/com/wanted/teamV/component/RecommendationScheduler.java
  src/main/java/com/wanted/teamV/exception/ErrorCode.java
  src/main/java/com/wanted/teamV/repository/RatingRepository.java
  src/main/java/com/wanted/teamV/service/averageRating/RatingAsyncService.java
  src/main/java/com/wanted/teamV/service/averageRating/ScoreCalculationQueue.java
  src/main/java/com/wanted/teamV/service/impl/RatingServiceImpl.java
  src/main/java/com/wanted/teamV/service/impl/RestaurantServiceImpl.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/test/java/com/wanted/teamV/service/RatingServiceImplTest.java
  src/test/java/com/wanted/teamV/service/averageRating/ScoreCalculationQueueTest.java
Labels: feature, test
